body {
    background-color: white;
    font-family: montserrat;
}

div {
    width:700px;
}

h1,h2,h3 {
    font-weight:normal;
}

h1 {
    margin:10;
    padding: 0;
}

h2 {
    margin: 0; /*https://www.w3schools.com/howto/howto_css_center-vertical.asp*/
    position: relative;
    top: 42%;
    text-align: center;
}

h3 {
    margin: 0; /*https://www.w3schools.com/howto/howto_css_center-vertical.asp*/
    position: relative;
    top: 42%;
    text-align: center;
    padding:10;
    font-size: 20;
}

a {
    color:black;
    text-transform: lowercase;
    font-size:20px;
    padding:8px;
    text-decoration: none; /*www.w3schools.com/cssref/pr_text_text-decoration.asp*/
}

a:hover {
    color:orange;
}

.navi {
    text-align: right;
    padding:0;
    margin:-26px -18px 0px 0px;
}

.container { 
    background-color: orange;
    height:500px;
    width: 700px;
    margin: 10;
    padding: 0;
}

img { 
    float: left; /*www.w3schools.com/css/css_float.asp*/
    padding:35px 0px 35px 35px;
}
